---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
      <div class="content-left">
        {%- if page.author -%}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">Author: {{ page.author }}</span></span>
          {%- endif -%}</p>
        {%- if page.email -%}
          <span itemprop="email" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">Contact: {{ page.email }}</span></span>
        {%- endif -%}</p>

        {{ content }}

        {%- if page.pdf -%}
        <p></p>
            <a href="{{ site.url }}{{ site.baseurl }}/pdfs/{{ page.pdf }}" download>Download PDF</a>
          </p>
        {%- endif -%}
    </div>

    <div class="content-right">
      {%- if page.pdf -%}
        <object data="{{ site.url }}{{ site.baseurl }}/pdfs/{{ page.pdf }}" width="500" height="500" type="application/pdf"></object>
      {%- endif -%}
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
